.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 350px;
    height: 350px;
    margin: 100px auto 50px auto;
  }
  .title-one {
    font-size: 45px;
    font-weight: 700;
  }
  .title-two {
    font-size: 35px;
    font-weight: 400;
    margin: 30px auto 50px auto;
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
