.collect-padding {
  padding: 20px;
  .collect-wrap {
    padding: 20px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    .content-wrap {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .title {
          font-weight: 600;
        }
        .codeStr {
          font-weight: 400;
          font-size: 30px;
        }
      }
    }
    .come-from {
      display: flex;
      justify-content: flex-end;
      margin: 15px auto;
      font-weight: 300;
      font-size: 30px;
    }
  }
  .no-collect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
    .noImg {
      width: 300px;
      height: 300px;
    }
    .no-collect-note {
      white-space: pre-line;
    }
  }
}
