$color-brand: #4f5fc5;

.my-button {
  border-radius: 16px;
}
.top-bg {
  // background-color: $color-brand;
  margin: 0;
}
.blank {
  height: 20px;
}
.intro {
  background-color: $color-brand;
  display: flex;
  justify-content: flex-start;
  height: 300px;
  .my-avatar {
    width: 50px;
    height: 50px;
    margin: auto 120px auto 80px;
  }
  .intro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    .my-name {
      font-size: 50px;
    }
  }
}
//更改avatar默认样式
.at-avatar--large {
  width: 160px;
  height: 160px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.study-plan {
  margin-top: 50px;
  // border: 2px solid white;
  // border-top-left-radius: 50px;
  // border-top-right-radius: 50px;
  background-color: white;
  .plan-action {
    margin: 20px 50px;
    .per-action {
      height: 25px;
      font-size: 36px;
      padding: 10px;
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  margin: 30px auto;
  background-color: white;
  .about {
    text-decoration: underline;
  }
  .question {
    text-decoration: underline;
  }
}

.plan-title-wrap {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.plan-title {
  color: $color-brand;
  font-weight: bold;
}
.isPlaned {
  font-size: 32px;
  font-weight: normal;
}
