.userRank {
  margin: 30px 40px;
  .title-wrap {
    .avatar-wrap {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-bottom: -15%;
      .avatar {
        width: 140px;
        height: 140px;
        border-radius: 50%;
      }
    }
    .right-score {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      margin-bottom: 20px;
      color: #999;
    }
    .card-wrap {
      display: flex;
      justify-content: space-around;
      height: 300px;
      background-color: #4f5fc5;
      border: 1px solid #4f5fc5;
      border-radius: 20px;
      .per-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16%;
        color: #fff;
        .name {
          font-size: 35px;
          font-weight: 400;
          margin-bottom: 20px;
        }
        .num {
          font-size: 50px;
          font-weight: 700;
        }
      }
    }
    .btn-wrap {
      display: flex;
      justify-content: space-around;
      // justify-content: center;
      margin: 30px auto;

      .envy {
        width: 40%;
      }
      .achieve {
        width: 40%;
      }
    }
  }
  .plan-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .plan-img {
      width: 200px;
      height: 200px;
    }
    .plan-text {
      margin-left: 20px;
      font-weight: 500;
      white-space: pre-wrap;
    }
  }

  .member-list {
    margin: 10px auto;
    .member-item {
      display: flex;
      align-items: center;
      height: 130px;
      padding: 15px;
      font-size: 30px;
      .title {
        font-size: 26px;
        color: #4f5fc5;
      }
      .rank {
        flex: 1;
      }
      .avatar-wrap {
        flex: 1;
        margin: auto 10px;
        .avatar {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .name {
        flex: 4;
      }
      .total {
        flex: 2;
      }
      .fist-img {
        width: 60px;
        height: 40px;
      }
    }
    .selected-item {
      background-color: #c7c7c7;
      border-radius: 10px;
      color: #4f5fc5;
      font-weight: 600;
      font-size: 40px;
    }
  }
}
//更改默认样式
.at-tabs__header {
  width: 60%;
}
.at-button__text {
  font-size: 35px;
  font-weight: 500;
}
