.member-list {
  margin: 20px auto;
  .member-item {
    display: flex;
    align-items: center;
    height: 130px;
    .title {
      color: #4f5fc5;
      font-size: 26px;
    }
    .rank {
      flex: 1;
    }
    .avatar-wrap {
      flex: 1;
      margin: auto 10px;
      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    .name {
      flex: 4;
    }
    .total {
      flex: 2;
    }
  }
  .no-friend-note {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838b8b;
    font-size: 35px;
    font-weight: 100;
  }
}
