.footer-wrap {
  height: 110px;
  z-index: 100;
}
.fix-footer {
  background: #fff;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  .add-plan {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f5fc5;
    font-size: 36px;
    font-weight: bold;
    color: white;
    border-right: 1px solid #fff;
    .img {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
  }
  .no-add-plan {
    // background-color: #dcdcdc;
  }
  .cl-share {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f5fc5;
    font-weight: bold;
    .share-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4f5fc5;
      color: white;
      font-size: 36px;
      font-weight: bold;
    }
    .img {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    // .share-title {
    //   font-size: 24px;
    //   line-height: 24px;
    // }
  }
  .ge-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    .img {
      width: 60px;
      height: 60px;
    }
    font-size: 24px;
  }
}
button::after {
  border: none;
}
button {
  margin: 0;
  padding: 0;
  background: #fff;
}

button > .button-hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.share-canvas-wrap {
  .share-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .share-wrap {
      // position: fixed;
      // top: 100px;
      // left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto auto;
      width: 100%;
      height: 100%;
      .close-canvas {
        margin-top: 20px;
        background-color: #efefef;
        width: 750px;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
