.authItem {
  margin: 0px 40px;
  height: 130px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  .rank-num {
    display: flex;
    justify-content: center;
  }
  .heat-num {
    font-size: 1.1em;
    font-weight: bold;
  }
  .icon-wrap {
    margin-right: 15px;
  }
  .langImg {
    width: 60px;
    height: 60px;
  }
  .lang-name {
    font-size: 1.2em;
  }
}

.oddbg {
  background-color: #e6e6fa;
}
.demandItem {
  height: 90px;
  margin: 50px 40px;
  .langImg {
    width: 50px;
    height: 50px;
  }
}

.share-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
