// .my-award {
.my-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  padding: 20px;
  .picker {
    color: #4f5fc5;
    margin: 0 15px;
  }
}
.award-title {
  color: #4f5fc5;
  font-size: 36px;
  margin: 50px auto 50px 20px;
  font-weight: 700;
}
.award-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.per-award {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 15px;
  .award-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .award-img {
    width: 297px;
    height: 396px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .award-name {
    margin: 5px 20px;
  }
  .monitor-name {
    background-color: #4f5fc5;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .add-award-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f5fc5;
    border: 4px dashed #b0b0b0;
    border-radius: 10px;
    height: 446px;
    .add {
      font-size: 130px;
    }
  }
}
// }
.pre-award-title {
  color: #4f5fc5;
  font-size: 40px;
  margin: 50px auto 50px 20px;
  font-weight: 700;
}
.blank {
  height: 30px;
}
