// .my-award {
.award-title {
  color: #4f5fc5;
  font-size: 36px;
  margin: 50px auto 50px 20px;
  font-weight: 700;
}
.award-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.per-award {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 15px;
  .award-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .award-img {
    width: 350px * 0.8;
    height: 495px * 0.8;
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .award-name {
    margin: 5px 20px;
  }
  .monitor-name {
    background-color: #4f5fc5;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-award-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f5fc5;
    border: 4px dashed #4f5fc5;
    .add {
      font-size: 90px;
    }
  }
}
// }
.pre-award-title {
  color: #4f5fc5;
  font-size: 40px;
  margin: 50px auto 50px 20px;
  font-weight: 700;
}
.blank {
  height: 80px;
}
