.classDetail {
  padding: 20px;

  .top-title {
    font-size: 30px;
  }
  .title {
    font-size: 45px;
    font-weight: 600;
    margin: 30px auto;
    color: #4f5fc5;
  }
  .content {
    font-size: 35px;
  }
}
