@import "~taro-ui/dist/style/index.scss";
.auth-title {
  font-size: 1.2em;
  margin: 20px 0;
}

.auth-intro {
  margin: auto 10px;
}
.rank-intro {
  margin: 42px auto;
  width: 180px;
  color: #999999;
  font-size: 32px;
  border-bottom: 1px solid #999999;
  text-align: center;
}
.intro-title {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 44px auto;
}
.pre-intro-content {
  padding: 0 70px 20px 70px;
}
.intro-close {
  width: 80%;
  margin: 20px auto;
}
.share-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999999;
  background: #4f5fc5;
  height: 120px;
  width: 120px;
  position: fixed;
  right: 48px;
  bottom: 48px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px #c8c8c8;
}
.share-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  .share-wrap {
    // position: fixed;
    // top: 100px;
    // left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 100%;
    height: 100%;
  }
}
