$color-brand: #4f5fc5;
.logo {
  width: 120px;
  height: 120px;
}
.wrap-content {
  margin: 0 20px;
}
.intro-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 160px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin: 40px auto;
  .per-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .tend-name {
      font-size: 30px;
      font-weight: 500;
    }
    .tend-num {
      font-size: 50px;
      font-weight: 800;
    }
  }
  .divider {
    height: 60%;
    border: 2px solid #999;
  }
}
//
.avatar-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .per-avatar {
    margin: auto 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .per-avatar-add {
    border: 6px solid #4f5fc5;
    button {
      line-height: 0;
    }
    .button-hover {
      background-color: #fff;
      line-height: 0;
    }
  }
}
.wrap-title {
  color: $color-brand;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.lang-title {
  display: flex;
  align-items: center;
  margin-top: 20px;
  .icon {
    flex: 2;
    margin-right: 20px;
  }
  .name {
    flex: 5;
    font-size: 48px;
    font-weight: 700;
    .new-intro {
      font-size: 24px;
    }
  }
  .badge {
    margin-left: 15px;
  }
  .state {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.heat-company {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .icon {
    flex: 2;
    margin-right: 30px;
  }
  .name {
    flex: 3;
    font-size: 36px;
    font-weight: 600;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 7;
    font-size: 32px;
    font-weight: 600;
    align-items: flex-end;
  }
}
.github {
  font-size: 30px;
  .top-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .left {
      width: 90px;
      height: 90px;
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-left: 20px;
      .name {
        font-weight: 900;
        font-size: 35px;
      }
    }
  }
  .brief {
    font-weight: 200;
    margin: 30px 0;
    white-space: pre-line;
  }
  .link {
    text-decoration: underline;
    color: #4f5fc5;
  }
}
.to-detail-wrap {
  display: flex;
  justify-content: flex-end;
}
.to-detail {
  display: flex;
  justify-content: center;
  color: $color-brand;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 38px;
  width: 200px;
  // border-bottom: 2px solid $color-brand;
  text-decoration: underline;
}
.demand-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bolder;
  height: 120px;
  border-bottom: 1px solid #999;
  margin-bottom: 50px;
  .demand-logo {
    width: 90px;
    height: 90px;
    margin-right: 5px;
  }
}
.line-chart {
  width: 100%;
  height: 40vh;
}
//语言细节页单独的css
.demand-posi-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a6a6a6;
  font-size: 32px;
  .demand-posi-name {
    display: flex;
    justify-content: flex-start;
  }
  .demand-posi-salary {
    display: flex;
    justify-content: flex-start;
  }
}
.lang-detail {
  .ad-disad {
    font-size: 30px;
    .row-wrap {
      margin-bottom: 20px;
    }
  }
  .difficult {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .app {
    display: flex;
    align-items: center;
  }
  .wrap-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    .wrap-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .img {
      width: 80px;
      height: 80px;
    }
    .little-title {
      font-size: 24px;
    }
  }
}
.loading-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.blank {
  height: 50px;
}
.share-canvas-wrap {
  .share-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .share-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto auto;
      width: 100%;
      height: 100%;
      .close-canvas {
        margin-top: 20px;
        background-color: #efefef;
        width: 750px;
        height: 70px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
at-button {
  width: 20%;
}
.tostudy-btn {
  // width: 50% !important;
  height: 90px;
  line-height: 90px;
  font-size: 35px;
  width: 160px;
}
//修改徽标默认样式
.badge {
  margin-left: 25px;
}
.at-badge__num {
  width: 40px;
}
