$color-brand: #4f5fc5;

.at-segmented-control__item {
  width: 542px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.at-tabs__item {
  font-size: 32px;
  font-weight: 800;
}
.at-tabs__item-underline {
  width: 20% !important;
  left: 40% !important;
}

swiper {
  height: 450px;
}
swiper-item {
  display: flex;
  align-items: center;
}
.at-pagination {
  margin: 30px 40px !important;
}

@import "~taro-ui/dist/style/index.scss";
