$color-brand: #4f5fc5;

.at-segmented-control__item {
  width: 542px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.at-card__content {
  padding: 10px;
}
.at-card__header {
  display: none !important;
}
.at-tabs__item {
  font-weight: 800;
}
.at-tabs__item-underline {
  width: 20% !important;
  left: 40% !important;
}
.at-input {
  padding: 0 !important;
  width: 480px !important;
  height: 80px !important;
  border: 1px solid #333 !important;
}
@import "~taro-ui/dist/style/index.scss";
